# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 47170be64120c5df8773adc2db6aa70104ea7805d003ebe1bb669d2f80ed9be3a185464137b8078c6cf1cb001e1a3a5c16a6cbcb7f3af6eb1856f1e2ce2a20bf

test:
  secret_key_base: 9e3acfa74939444b59a37f54ff6d29fd56a3ac40ab542399a93b507e888d0e657f6b99f476ab633d827c2741fd818db934efdff33d4a4f411bfcdb99ba0f1142

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
